---
active_tab: about
page_header: About Us
---


<h1>A Brief History</h1>

<p class="blurb">

In the spring of 2013, The Undergraduate Research Journal of Psychology (URJP) at UCLA was founded by Chardee Galan, Lauren Wong, Chloe Tagawa, and Anthony Osuna-Jones. At the time, Chardee was Project Coordinator for Dr. Jeffrey Wood’s lab at UCLA which is where she met and started collaborating with Lauren, Chloe, and Anthony to develop the URJP. Despite the fact that UCLA is such an influential research institution in the field of psychology, there was not an undergraduate research journal that enabled students to showcase and disseminate their work. The Undergraduate Research Journal of Psychology at UCLA was the founders’ solution to this problem. At the time of its founding, the URJP was one of only three undergraduate psychology research journals in the nation, alongside UC Berkeley and Yale. Since year one, the response to the URJP has been overwhelmingly positive from inquiring undergraduate student authors and psychology faculty around the world, to the direct support we have received from our own UCLA undergraduate students who volunteer as staff members, our graduate student mentors, and the UCLA faculty who have and continue to endorse the journal.

Since its founding in 2013, the goal of the URJP has been to serve undergraduate students who are interested and involved in psychology-related research by providing a peer-reviewed platform that fosters a collaborative environment where undergraduates can receive mentorship from graduate students in psychology-related fields. Undergraduate authors are provided with the opportunity to share their work with peers and gain editorial feedback, while our UCLA undergraduate editorial committee members are provided with the opportunity to develop and refine their skills in critical thinking, reading, and evaluating research manuscripts. In addition to the annual publication, the URJP makes it a priority to host academic and professional development workshops for the URJP undergraduate staff and the larger UCLA undergraduate community. Accessibility is a priority to the URJP and the inclusion of “stepping stone” articles, or lay articles as a submission type is one way that we have increased accessibility by appealing to those who do not (yet) specialize in a particular area of psychology research. The mission of the URJP at UCLA is to empower undergraduate students to engage in and with research and facilitate scientific conversation and inquiry. We believe that creating a strong foundation of research literacy and collaboration now will foster a competent and innovative generation of researchers in the future. 

</p>


<h1>About the Founders</h1>

<ul class="members">
    <li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/chardee_galan.png"/>
        <div class="bd bd-member">
        <h2 class="member-header">Chardee Galan</h2>
        <h2 class="member-sub-header">Founder</h2>
        Chardeé Galán is currently ​a seco​​nd​ year​ doctoral student in​ C​linical and ​D​evelopmental ​P​sychology at the University of Pittsburgh, studying​ under the mentorship of​​ Dr. Daniel Shaw. She received her B.A. in 2012 from the University of California, Berkeley, where she completed her honors thesis with Dr. Stephen Hinshaw. She then worked as a project coordinator for a clinical trial in the UCLA Center for Autism Research and Treatment and was concurrently a member of the UCLA ADHD and Development Lab. Her current work centers on understanding how children's genotype and early environments (e.g., early parenting, neighborhood deprivation, deviant peer affiliation) interact to influence​ the onset and developmental trajectories of ​​youth conduct problems from early childhood into young adulthood within low-income, racially diverse samples. 
        </div>
    </li>

	<li class="media media-member">
        <img src="{{ root }}/img/years/2015-2016/members/lauren_wong.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Lauren Wong</h2>
        <h2 class="member-sub-header">Founder <br> Senior Editor-in-Chief, 2013-2014
		</h2>
        After graduating in June 2014, Lauren promptly moved to Seattle, where she served as an AmeriCorps member at a community garden and continues to involve herself in food justice work. Eventually, she hopes to go back to school to earn a master's degree in landscape architecture. Though her current reality diverges greatly from her research endeavors at UCLA, she credits those experiences with giving her the tools to look at the world through a critical lens. She is thrilled that The URJP still exists as an accessible platform for students to publish their work. 
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2013-2014/members/chloe_tagawa.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Chloe Tagawa</h2>
        <h2 class="member-sub-header">Founder <br> Editor, 2013-2014
		</h2>
        Chloe Tagawa graduated from UCLA in spring 2014.  After graduation, she worked at Tom Duffy Co. in the credit department, and has since moved on to work for American Shared Hospital Services.  While she has enjoyed her employment opportunities thus far, she hopes to work towards becoming a teacher in the near future.  Chloe volunteers at an elementary  school, and is passionate about having a positive impact in the world of education.
        </div>
    </li>

    <li class="media media-member">
        <img src="{{ root }}/img/years/2014-2015/members/anthony_osuna.jpg"/>
        <div class="bd bd-member">
        <h2 class="member-header">Anthony Osuna-Jones</h2>
        <h2 class="member-sub-header">Founder <br> Junior Editor-in-Chief, 2013-2014 <br> Senior Editor-in-Chief, 2014-2015
		</h2>
        Anthony is a co-founder of the URJP and served as the Junior Editor-in-Chief in 2013-2014 and Senior Editor-in-Chief in 2014-2015. As an undergraduate, he participated in the McNair Research Scholars Program where he conducted an independent research project that looked at the personality in children with autism (ASD). He has served as a Research Assistant in the Wood Lab, Autism Infant Sibling Lab, and interned at IDP Franz as an Applied Developmental Psychology minor. Currently, Anthony is working as a Staff Research Associate with Dr. Connie Kasari assisting in the treatment and assessment of children with ASD. He hopes to complete his Ph.D. in Clinical Psychology and research the intersection of culture and mental health disorders.
        </div>
    </li>

</ul>

<!--Google Analytics Tracking-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59288236-2', 'auto');
  ga('send', 'pageview');

</script>