---
active_tab: contact
page_header: Contact Us
---

<ul class="icons">
    <li>
        <a href="https://www.facebook.com/UCLApsychjournal" class="media media-icon">
            <i class="icon fa fa-facebook"></i>

            <div class="bd">
                Reach us on Facebook
            </div>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/URJPatUCLA" class="media media-icon">
            <i class="icon fa fa-twitter"></i>

            <div class="bd">
                Reach us on Twitter
            </div>
        </a>
    </li>
    <li>
        <a href="mailto:psychjournal.ucla@gmail.com" class="media media-icon">
            <i class="icon fa fa-envelope"></i>

            <div class="bd">
                Email us
            </div>
        </a>
    </li>
</ul>
