---
root: .
active_tab: home
page_header: Our Team & Mission Statement
---

<div align="center" font-size="30">
	<p> ***The 2015-2016 Submission Deadline Has Passed*** </p>
</div>	

<img class="photo-large" src="{{ root }}/img/years/2015-2016/group_photo.jpg"/>

<p class="blurb">
   An annual publication of collaborative efforts between undergraduate students at UCLA, The Undergraduate Research Journal of Psychology at UCLA aims to promote and disseminate student excellence in psychological research at UCLA and around the world. The organization intends to serve the undergraduate community at large by making the publication process more accessible and highlighting the interesting and relevant nature of the study of psychology.
</p>
