---
active_tab: links
page_header: Links
---

<h1>External Related Websites</h1>

<ul class="icons">
    <li>
        <a href="http://www.psych.ucla.edu/" class="media media-icon">
            <i class="icon fa fa-external-link-square"></i>

            <div class="bd bd-long">
               Department of Psychology at UCLA
            </div>
        </a>
    </li>
    <li>
        <a href="http://www.psychologyinaction.org/" class="media media-icon">
            <i class="icon fa fa-external-link-square"></i>

            <div class="bd bd-long">
               Psychology in Action
            </div>
        </a>
    </li>
    <li>
        <a href="https://www.apa.org/" class="media media-icon">
            <i class="icon fa fa-external-link-square"></i>

            <div class="bd bd-long">
                American Psychology Association (APA)
            </div>
        </a>
    </li>
</ul>
