---
active_tab: publications
page_header: Publications
---

<ul class="icons">
    <li>
        <a href="{{ root }}/docs/journal_2014-2015.pdf" class="media media-icon">
            <i class="icon fa fa-file"></i>

            <div class="bd bd-long">
               2014-2015
            </div>
        </a>
    </li>

    <li>
        <a href="{{ root }}/docs/journal_2013-2014.pdf" class="media media-icon">
            <i class="icon fa fa-file"></i>

            <div class="bd bd-long">
               2013-2014
            </div>
        </a>
    </li>
</ul>
