---
active_tab: submissions
page_header: Submissions
---

<h1> Call for Undergraduate Research Papers </h1>
<h1> ***The 2015-2016 Submission Deadline Has Passed*** </h1>

<ul class="icons">
    <li>
        <a href="{{ root }}/docs/call.pdf" class="media media-icon">
            <i class="icon fa fa-file"></i>

            <div class="bd">
               Call for Submissions
            </div>
        </a>
    </li>
    <li>
        <a href="{{ root }}/docs/criteria.pdf" class="media media-icon">
            <i class="icon fa fa-file"></i>

            <div class="bd">
                Submissions Criteria
            </div>
        </a>
    </li>
</ul>
