---
active tab: workshops
page_header: Workshops - Winter 2016
---

<img class="photo-large" src="{{ root }}/img/workshops.jpg">

<table class="table" style="width:100%">
  <h1>Past Workshops</h1>
  <tr>
    <td align="center"><a href="https://drive.google.com/file/d/0B5H9Neo3SDKjdnJ0YWl3ZGhMbk0/view?usp=sharing">Résumé vs. Curriculum Vitae (CV) -- Carter Bedford</a></td>
  </tr> 
  	<td align="center"><a href="https://drive.google.com/file/d/0B5H9Neo3SDKjeV9jcWxJQmJyOXc/view?usp=sharing">Applying to Graduate School -- Christina Schonberg</a></td>
  </tr>
  <tr>
    <td align="center"><a href="https://drive.google.com/file/d/0B5H9Neo3SDKjS2NEQnpQVjBQQlc0bVFoUjBVa08xX1l6TC13/view?usp=sharing">The Difference Between Psychology Degrees -- Liz Dalton</a></td>
  </tr>
  <tr>
    <td align="center"><a href="https://drive.google.com/file/d/0B5H9Neo3SDKjem1XcVk0cEZPZ0E/view?usp=sharing">Obtaining Letters of Recommendation -- Melissa DeWolf</a></td>
  </tr>
  <tr>
    <td align="center"><a href="https://drive.google.com/file/d/0B5H9Neo3SDKjYUxHeEJISFpBLXM/view?usp=sharing">Preparing a Conference Abstract -- Natsuki Atagi</a></td>
  </tr>
</table>


<!--Google Analytics Tracking-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59288236-2', 'auto');
  ga('send', 'pageview');

</script>